In [1]:
import os, sys, math, io
import numpy as np
import pandas as pd
import multiprocessing as mp
import bson
import struct

%matplotlib inline
import matplotlib.pyplot as plt

import tensorflow as tf

from collections import defaultdict
from tqdm import *

data_dir = '/mnt/data/cdiscount/'

from subprocess import check_output
print(check_output(["ls", data_dir]).decode("utf8"))

# Any results you write to the current directory are saved as output.

category_names.csv
sample_submission.csv
test.bson
train_block_1.bson
train_block_2.bson
train_block_3.bson
train_block_4.bson
train_block_5.bson
train.bson
train_example.bson

In [2]:
train_block_1_bson_path = os.path.join(data_dir, "train_block_1.bson")
train_block_2_bson_path = os.path.join(data_dir, "train_block_2.bson")
train_block_3_bson_path = os.path.join(data_dir, "train_block_3.bson")
train_block_4_bson_path = os.path.join(data_dir, "train_block_4.bson")
train_block_5_bson_path = os.path.join(data_dir, "train_block_5.bson")

num_train_block_products = 1413980

In [3]:
def read_bson(bson_path, num_records, with_categories):
    rows = {}
    with open(bson_path, "rb") as f, tqdm(total=num_records) as pbar:
        offset = 0
        while True:
            item_length_bytes = f.read(4)
            if len(item_length_bytes) == 0:
                break

            length = struct.unpack("<i", item_length_bytes)[0]

            f.seek(offset)
            item_data = f.read(length)
            assert len(item_data) == length

            item = bson.BSON.decode(item_data)
            product_id = item["_id"]
            num_imgs = len(item["imgs"])

            row = [num_imgs, offset, length]
            if with_categories:
                row += [item["category_id"]]
            rows[product_id] = row

            offset += length
            f.seek(offset)
            pbar.update()

    columns = ["num_imgs", "offset", "length"]
    if with_categories:
        columns += ["category_id"]

    df = pd.DataFrame.from_dict(rows, orient="index")
    df.index.name = "product_id"
    df.columns = columns
    df.sort_index(inplace=True)
    return df

%time train_block_1_offsets_df = read_bson(train_block_1_bson_path, num_records=num_train_block_products, with_categories=True)
%time train_block_2_offsets_df = read_bson(train_block_2_bson_path, num_records=num_train_block_products, with_categories=True)
%time train_block_3_offsets_df = read_bson(train_block_3_bson_path, num_records=num_train_block_products, with_categories=True)
%time train_block_4_offsets_df = read_bson(train_block_4_bson_path, num_records=num_train_block_products, with_categories=True)
%time train_block_5_offsets_df = read_bson(train_block_5_bson_path, num_records=num_train_block_products, with_categories=True)

 80%|████████  | 1413980/1767474 [00:17<00:04, 79507.70it/s]
  0%|          | 0/1767474 [00:00<?, ?it/s]

CPU times: user 17.1 s, sys: 4.02 s, total: 21.1 s
Wall time: 21.1 s

 80%|███████▉  | 1413979/1767474 [00:20<00:05, 69562.66it/s]
  1%|          | 9370/1767474 [00:00<00:18, 93696.07it/s]

CPU times: user 17.3 s, sys: 4.33 s, total: 21.6 s
Wall time: 23.6 s

 80%|███████▉  | 1413979/1767474 [00:19<00:04, 73671.61it/s]
  0%|          | 5390/1767474 [00:00<00:32, 53890.42it/s]

CPU times: user 17 s, sys: 4.56 s, total: 21.5 s
Wall time: 22.4 s

 80%|███████▉  | 1413979/1767474 [00:43<00:10, 32630.69it/s]
  0%|          | 5346/1767474 [00:00<00:32, 53449.98it/s]

CPU times: user 20.9 s, sys: 7.58 s, total: 28.5 s
Wall time: 46.7 s

 80%|███████▉  | 1413979/1767474 [00:38<00:09, 36798.22it/s]

CPU times: user 21.3 s, sys: 7.15 s, total: 28.5 s
Wall time: 41.8 s

In [4]:
train_block_1_offsets_df.head()
train_block_2_offsets_df.head()
train_block_3_offsets_df.head()
train_block_4_offsets_df.head()
train_block_5_offsets_df.head()

            num_imgs  offset  length  category_id
product_id
4                  1       0    6346   1000015539
9                  1    6346    7461   1000018290
16                 1   13807    7078   1000010653
22                 1   20885    1727   1000005910
31                 1   22612    7867   1000010653

In [5]:
train_block_1_offsets_df.to_csv("train_block_1_offsets.csv")
train_block_2_offsets_df.to_csv("train_block_2_offsets.csv")
train_block_3_offsets_df.to_csv("train_block_3_offsets.csv")
train_block_4_offsets_df.to_csv("train_block_4_offsets.csv")
train_block_5_offsets_df.to_csv("train_block_5_offsets.csv")

In [6]:
print('block 1')
print('number of products = %d' % len(train_block_1_offsets_df))
print('number of catagories = %d' % len(train_block_1_offsets_df["category_id"].unique()))
print('number of images = %d' % train_block_1_offsets_df["num_imgs"].sum())

print('block 2')
print('number of products = %d' % len(train_block_2_offsets_df))
print('number of catagories = %d' % len(train_block_2_offsets_df["category_id"].unique()))
print('number of images = %d' % train_block_2_offsets_df["num_imgs"].sum())

print('block 3')
print('number of products = %d' % len(train_block_3_offsets_df))
print('number of catagories = %d' % len(train_block_3_offsets_df["category_id"].unique()))
print('number of images = %d' % train_block_3_offsets_df["num_imgs"].sum())

print('block 4')
print('number of products = %d' % len(train_block_4_offsets_df))
print('number of catagories = %d' % len(train_block_4_offsets_df["category_id"].unique()))
print('number of images = %d' % train_block_4_offsets_df["num_imgs"].sum())

print('block 5')
print('number of products = %d' % len(train_block_5_offsets_df))
print('number of catagories = %d' % len(train_block_5_offsets_df["category_id"].unique()))
print('number of images = %d' % train_block_5_offsets_df["num_imgs"].sum())

block 1
number of products = 1413980
number of catagories = 5260
number of images = 2474125
block 2
number of products = 1413979
number of catagories = 5254
number of images = 2472965
block 3
number of products = 1413979
number of catagories = 5265
number of images = 2474710
block 4
number of products = 1413979
number of catagories = 5261
number of images = 2474967
block 5
number of products = 1413979
number of catagories = 5258
number of images = 2474526